input[type=text] {
  border: none;
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  flex-grow: 9
}

#search {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
}

input[type=text]:focus {}

.material-icons {
  font-size: 32px;
  flex-grow: 1;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
}

button:disabled {
  cursor: not-allowed;
}
