html {

  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: aqua;
    background-image: linear-gradient(to bottom, white , aqua);
  background-repeat: no-repeat;
}

h1 {
  margin: 0;
background-color: navy;
  color: white;

}
